html {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

.logo {
    height: 50px;
}

header {
    padding: 0 10px;
    min-height: 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content:space-around;
    flex-wrap: wrap;
}

li {
    text-decoration-line: underline;
    padding: 0 20px;
}

